* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #94a596;
}

.navbar-brand {
  font-weight: 600;
}

.nav-links {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  margin-right: 1em;
}

.nav-links:hover {
  text-decoration: none !important;
  color: #000;
}

footer {
  background-color: #94a596;
}

.list-group,
.list-group-item {
  background-color: inherit !important;
}

.timings table {
  border-color: #000000;
}

.timings tr {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.main-color {
  color: #94a596;
}

.main-color-bg {
  background-color: #94a596;
}

h5 {
  font-weight: bold !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .about-us-section p {
    padding: 0em !important;
  }
}
